* {
    box-sizing: border-box;
}

:root {
  --section-padding: 40px;
  --content-max-width: 1100px;
  --gap-lg: 60px;
  --gap-md: 20px;
  --mar: 200px;
  --pad: 20px;
}

body {
    background-color: #bec3cb;
    font-family: "Montserrat", sans-serif;
    flex: 1;
}

h2, h1 {
    font-family: "Arimo", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: #435861;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    gap: 20px;
}
   header img {
        max-width: 100px;
    }

    header h1 {
        margin: 0;
        color: rgb(89, 196, 160)
    }

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    gap: var(--gap-md)
}
    .nav a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
    }

    li:hover {
        background-color: rgb(186, 169, 169);
        color: black;
    }

.bodycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.intro {
    background-color: #d7cecb;
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
}
.introcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: absolute;
    margin: 100px;
    padding: 100px;
    color: rgb(0, 0, 0);
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    }

.intro img {
    width: 500px;
}

.bodycontent {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10px;
    background-color: #d7cecb;
    padding: 10px;
    margin: 20px;
    max-width: 100%;
}

.bodycontent_filler, .direction {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    background-color: #d7cecb;
}

.bodytext {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bodytext p {
    max-width: 500px;
    margin: 10px auto;
    font-size: 1.2rem;
}

.bodyimg, .filler_text {
    flex: 1;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bodyimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.direction {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 20px;
}

.bodyfull {
    display: flex;
    background-color: #d7cecb;
    width: 100%;
    height: 500px;
    justify-content: center;
    padding: var(--pad);
}

.bodycatalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-image: url(kuvat_copy/Scenic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}

    .box {
        background-color: #bec3cbc9;
        border-radius: 8px;
        font-size: 20px;
        text-align: center;
        padding: 50px;
        margin: 50px;
        align-items: center;
        justify-content: center;
        height: auto;
    }

.box img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
  display: block;
  border-radius: 10px;
}

footer {
    display: flex;
    margin: var(--pad);
    align-content: center;
}

.footertext {
    text-align: center;
    text-align: center;
    flex-direction: column;
    padding: var(--section-padding);
    width: 100%;
    background-color: #435861;
}

@media only screen and (max-width:423px)
/*mobiili*/ {

.bodyimg {
    display: none;
}

.bodycontent_filler {
    display: none;
}

}

@media only screen and (min-width:430px)
/*keskikokoiset*/
{

}



@media only screen and (min-width:1200px)
/*suuret*/
{
}